body{
}

tr{
	display: block;
}
td{
	padding: 5px;
}
.page-header{
	display: block;
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top, #000000 0%, #45484d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#45484d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #000000 0%,#45484d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #000000 0%,#45484d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #000000 0%,#45484d 100%); /* IE10+ */
	background: linear-gradient(to bottom, #000000 0%,#45484d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=0 ); /* IE6-9 */
	height: 50px;
}

.page-header img{
	height: 25px;
	padding: 10px 0 10px 10px;
}

.page-nav-container{
	position: fixed;
	top: 50px;
	left: 0;
	bottom: 0;
	width: 250px;
	background: purple;
	overflow-y: auto;
}


.nav-img{
	text-align: center;
	margin-top: 15px;
	margin-bottom: 50px;
}
.nav-img img{
	width: 200px;
}
.nav-main{
	text-align: center;
	margin-top: 25px;
}
.nav-main li{
	list-style: none;
}
.nav-main > ul li{
	padding: 8px 0;
}
.nav-main li ul li{
	display: inline-block;	
}
.nav-main li a{
	color: black;
}


@media (max-width: 800px){
	.page-header{
		height: 30px
	}
	.page-header img{
		height: 15px;
		padding: 5px 0 5px 5px;
	}
	.page-nav-container{
		top: 29px;
	}
	.nav-img{
		display: none;
		margin: 0;
	}
}


.login-box {
	position: relative;
	padding-top: 15%;
	display: block;
	margin: 0 auto;
	width: 175px;
	text-align: center;
	color: gray;
}

.login-box input {
	position: relative;
	border: none;
	border-bottom: 1px solid grey;
	margin-bottom: 15px;
	width: 100%;
	text-align: center;
}
.login-box input:focus {
	outline: none;
}
.login-box input[type='submit'] {
	margin-top: 25px;
	border: 1px outset #707070;
	padding: 7px 20px;
	width: auto;
	border-radius: 2px;
	background: #C0C0C0;
}
.login-box input[type='submit']:active {
	border: 1px inset gray;
}
